<<<<<<< HEAD
$bg-variable1:rgb(223, 236, 245);
$bg-header1:rgb(231, 248, 231);


/* header----------------------------------------------------------------------------------- */
.header {
    background-color:$bg-header1;
    width: 600px;
    -webkit-box-shadow: -2px 6px 5px -2px rgba(0,0,0,0.75);
-moz-box-shadow: -2px 6px 5px -2px rgba(0,0,0,0.75);
box-shadow: -2px 6px 5px -2px rgba(0,0,0,0.75);
}
.ul-nav li{
   list-style: none;
   font-size: 2rem;
   
}
.ul-nav a{
   text-decoration: none;
   color:black;
}
.img {
height: 400px;
width: 600px;
background-image: url(../multimedia/sopa-tomate-albahaca-bol_114579-11378\ \(1\).jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: top right;



}
.title {
font-family: 'Dancing Script', cursive;
font-size: 60px;
}
.titulos {
background-color: $bg-variable1 ;
font-size: 2rem;
text-align: center;
width: 600px;
}

=======
>>>>>>> 9a90a793291c38dafae12116bfa10a52fc84a79f
.header {
    background-color: rgb(  231, 248, 231);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size:1.7rem;
    -webkit-box-shadow: -2px 6px 5px -2px rgba(0,0,0,0.75);
-moz-box-shadow: -2px 6px 5px -2px rgba(0,0,0,0.75);
box-shadow: -2px 6px 5px -2px rgba(0,0,0,0.75);
<<<<<<< HEAD
=======
    & .menu-nav  {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    } 
    & .ul-nav    {
            list-style: none;
            /* width: 40%; */
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }
    & ul {
        display: block;
        list-style-type: disc;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;
    & a {
        text-decoration: none;
        color: black;
        padding: 5px;
        list-style: none;
    }
    & a:hover {
        color: rgb(31, 161, 31);
        
    }
     
        }
>>>>>>> 9a90a793291c38dafae12116bfa10a52fc84a79f
    
    
}

<<<<<<< HEAD
.menu-nav  {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    
}
.ul-nav {
    list-style: none;
    /* width: 40%; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    
}
a {
    text-decoration: none;
    color: black;
    padding: 5px;
    list-style: none;
}
a:hover {
    color: rgb(31, 161, 31);
    
}

.card__tineda{
    display: flex;
    justify-content: space-between;
}


/* colores de titulos*/
.titulos {
    background-color: $bg-variable1;
    font-size: 25px;
    text-align: center;
}

.title {
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
}
main section h1 span {
    color: #282828;
}
=======




>>>>>>> 9a90a793291c38dafae12116bfa10a52fc84a79f
